.dark {
  --color-gray-1: rgba(202, 191, 253, 1);
  --color-gray-2: rgba(213, 214, 215, 1);
  --color-gray-3: rgba(76, 79, 82, 1);
  --color-gray-4: rgba(36, 38, 45, 1);
  --color-gray-5: rgba(213, 214, 215, 0.5);
  --color-gray-6: rgba(202, 191, 253, 0.3);
  --color-gray-7: rgba(#1a1c23, 1);
  --color-gray-8: rgba(229, 231, 235, 1);
  --color-gray-9: rgba(237, 235, 254, 1);
  --color-gray-10: rgba(158, 158, 158, 1);
  --color-gray-11: rgba(158, 158, 158, 1);
  --color-purple-1: rgba(126, 58, 242, 1);

  --color-orange-1: rgba(255, 90, 31, 1);

  --color-green-1: rgba(14, 159, 110, 1);
  --color-green-2: rgba(49, 196, 141, 1);

  --color-blue-1: rgba(63, 131, 248, 1);

  --color-yellow-1: rgba(194, 120, 3, 1);
  --color-yellow-2: rgba(250, 202, 21, 1);

  --color-black-1: rgba(26, 28, 35, 1);
  --color-black-2: rgba(18, 19, 23, 1);
  --color-black-3: rgba(0, 0, 0, 0.8);

  --color-white-1: rgba(254, 236, 220, 1);
  --color-white-2: rgba(255, 255, 255, 1);
  --color-white-3: #d5d6d7;
}
